.money
{
    color: red;
}
.level
{
    color: blue;
}
.name
{
    color: black;
}
.enemy
{
    color: yellow;
}
.health
{
    color: orange;
}
.menu
{
    color: #4B946A;
}
.shop
{
    color: aqua;
}