.money
{
    background-color: red;
}
.level
{
    background-color: blue;
}
.name
{
    color: white;
    background-color: black;
}
.enemy
{
    background-color: yellow;
}
.health
{
    background-color: orange;
}
.menu
{
    background-color: #4B946A;
}
.shop
{
    background-color: aqua;
}